img {
    width: 300px;
}

body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

ul {
    display: inline-block;
    text-align: left;
}